.assignment {
	cursor:grab;
	background-color:red;
}
.day {
	display:inline-block;
	width:100px;
	height:100px;
	outline:2px solid black;
}
.list {
	list-style-type:none;
}
#calendar {
	display:inline-block;
}
#today {
	color:red;	
}
#biglist {
	display:inline-block;
}
#main {
	display:flex;
}
